### 1. What is Python and why is it popular?
- Python is a programming and oriented language.
- Python has hundereds of libraries so ,it supports to multiple Applications and also Python is easy to understand.
- Python is a high level programming language

### 2.What is an IDE and name a few popular Python IDEs?
- IDE- IDE is Integrated Development Environment it, is a software application that provides to run the code or to test the code
- Visual studio, Pycharm

### 3.What are the rules for naming variables in Python?
- There are 5 rules
- 1. Variables start with alpha numeric
- 2. Variables does not start with digits
- 3. Variables does not start with special characters except underscore _
- 4. Variables cannot be reserve keywords
- 5. Variables is case sensitive

### 4.How do you assign multiple values to multiple variables in a single line?

In [1]:
x,y,z=1,2,3
print(x)
print(y)
print(z)

1
2
3

### 5.Can you use Python keywords as variable names? Why or why not?

- No we caanot use keywords as variables.
- Keywords are used to define logic or condition, it is not possible to use keywords as variables

### 6.Why are comments important in programming?

- Comments are used to understand the code

- Because somebody can write the code for us then we cannot understand what they written so, comments will describe the code in words so, easily we can understand the logics in code

### 7.What are the basic data types in Python?
- Basic data types
- 1. INTEGERS
- 2. FLOAT
- 3. COMPLEX
- 4. BOOLEAN

### 8. How do you convert a string to an integer in Python?

- No we cannot convert string to any other type of data in python

### 9.What is the difference between int and float?

- INT- INT means it has real numbers and whole number it will be in -infinity to +infinity
- Example 0,1,2,3,----

- Float- It has decimal numbers and also it will be in -infinity to + infinity
- Example 2.3,4.5,6.7---

### 10.How do you check the data type of a variable?
- BY using type() we can check the data type of a variable

In [3]:
a=8
print(type(a))
b=4.5
print(type(b))
c=True
print(type(c))
d=4+3j
print(type(d))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

### 11.How do you add an element to a list?

- By using insert and append functions we can add values in to list

- insert at specify position

- append will be end of list

In [5]:
a=[1,2,45,67]
a.insert(1,99)

In [6]:
print(a)

[1, 99, 2, 45, 67]

In [7]:
a.append(100)

In [8]:
print(a)

[1, 99, 2, 45, 67, 100]

### 12.How do you create a tuple with one element?
- we can create a tuple with one element by comma

In [10]:
tup1=(1,)
print(tup1)

(1,)

In [ ]:
### 13.How do you access a value in a dictionary using a key?

### 14.How do you access elements in a list?

- we can access elements by using index and slicing methods

In [11]:
li1=[1,2,3,4,5,6,7,8,9,10]
print(li1[4])
print(li1[-2])
print(li1[2:7])
print(li1[-7:-3])

5
9
[3, 4, 5, 6, 7]
[4, 5, 6, 7]

### 15. How do you access a character in a string?
- We can access by index and slicing

In [12]:
py="Python Programming"
print(py[2])
print(py[-10])
print(py[1:9])
print(py[-5:-12])

t
r
ython Pr

In [13]:
for i in py:
    print(i)

P
y
t
h
o
n

P
r
o
g
r
a
m
m
i
n
g

In [14]:
### 16.How do you format strings in Python?

name="Dhoni"
age="40"

print(f"CSK captain is {name} he played more than 200 ipl matches at {age}")

CSK captain is Dhoni he played more than 200 ipl matches at 40

### 17.What is a tuple and how is it different from a list?
- tuple is immutable we cannot modify elements and has only two methods
- list is mutable we can modify elements

In [16]:
### 18.How do you concatenate two tuples?

tup2=(1,3,6,89)
tup3=(1,2,3,4)
print(tup2*2)
print(tup3*1)

## we cannot concatenate two tuples

(1, 3, 6, 89, 1, 3, 6, 89)
(1, 2, 3, 4)

In [17]:
### 22.How do you add an element to a set?
set1={1,34,56,89}
set1.add(500)
print(set1)

{1, 34, 500, 56, 89}

In [18]:
### 23.How do you remove an element from a set?
set1.remove(500)
print(set1)

{1, 34, 56, 89}

In [19]:
set1.discard(89)
print(set1)

{1, 34, 56}

### 24.What are the common set operations in Python?
- They are three three types
- 1. union
-2. Intersection
-3. Difference

In [21]:
### 25.Write a Python program to find the index of an element in a tuple?
tup3=(1,2,4,56,78)
print(tup3.index(56))

3